.forgot-password {
    padding: 80px 0;

    .badge-banner {
        position: relative;
        width: 100%;
        height: 506px;

        img {
            object-position: left;
        }
    }

    .title {
        color: #2F3847;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 36px;
    }

    .input-elements {
        label {
            color: #5A677E;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        .golden {
            margin: 40px 0 20px;
        }
    }

    // 1280
    @media (min-width: $laptop-min) and (max-width: $laptop-max) {
        .title {
            font-size: 32px;
            margin-bottom: 20px;
        }

        .badge-banner {
            height: 415px;
        }
    }

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        padding: 40px 20px;

        .input-elements {
    
            .golden {
                margin: 20px 0;
                padding: 20px;
            }
        }
    }

    @media (min-width: $mobile-min) and (max-width: $mobile-max) {
        padding: 40px 20px;

        .title {
            font-size: 26px;
        }

        .input-elements {
            .golden {
                margin: 20px 0;
                padding: 20px;
            }
        }
    }
}