.gallery-wrapper {
    padding: 120px 100px;
}

.gallery-title {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    .back-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px;
        background-color: #F3F3F3;
        cursor: pointer;
        margin-right: 20px;

        span {
            padding-left: 10px;
            color: #5B5A5F;
            font-family: "Montserrat";
            font-size: 16px;
            font-weight: 500;
        }
    }

    .gallery-title-name {
        font-family: $font-family;
        font-size: 28px;
        font-weight: 700;
        line-height: 34.13px;
    }

    .gallery-button-container {
        min-width: 200px;
        height: 50px;
        display: flex;
        background-color: white;
        border: 1px solid #D5DDEA;
        text-align: center;
        justify-content: center;
        align-items: center;

        .btn {
            height: 90%;
            font-family: $font-family;
            font-size: 17px;
            font-weight: 700;
            padding-top: 9px;
            margin: 0 5px;
            color: #5A677E;
            border-radius: 0px;

            &:hover {
                background: #CFA935;
                color: white;
                border-radius: 0px;
            }
        }

        .btn-golden {
            background: #CFA935;
            color: white;
        }

        .vertical-line {
            border-left: 1px solid #D5DDEA;
            height: 70%;
            margin: 0 2px;
        }
    }
}


@media (max-width: 768px) {
    .gallery-wrapper {
        padding: 120px 20px;
    }
    .gallery-title{
        flex-direction: column;
        
    }
    .cert-container{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gallery-title {
        padding: 0 5px;
        flex-direction: column;
        // align-items: center;
        // justify-content: center;


        .gallery-title-name {
            font-size: 20px;
        }

        .gallery-button-container {
            // width: 81%;
            height: 100%;
            margin: 10px 0px;
            display: flex;
            // flex-direction: column;
            align-items: center;

            .btn {
                text-align: center;
            height: 100%;

                margin: 0px 0;
                font-size: 20px;
                font-family: "Montserrat";
font-size: 14px;
font-weight: 600;
text-align: center;


            }

            .vertical-line {
                display: none;
            }
        }
    }
}



.btn-new-date {
    display: flex;
    justify-content: center;
    text-align: center;
    background: #CFA9351A;
    cursor: pointer;
    padding: 3px;
    // border-radius: 6px;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 600;
    color: rgba(207, 169, 53, 1);

}

.btn-revoke {
    display: flex;
    justify-content: center;
    text-align: center;
    background: #EE2A3A1A;
    cursor: pointer;
    padding: 3px;
    // border-radius: 6px;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 600;
    color: #EE2A3A;


}

.btn-reactive {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    label {
        font-family: $font-family;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.5px;

    }
}

.modal-content {
    max-width: 443px;
    max-height: 397px;
    position: absolute;
    border-radius: 26px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .extend-modal-header {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        height: 60px;

        border-radius: 26px 26px 0px 0px;
        background: #F3F3F3;

        .extend-modal-header-text {
            font-family: $font-family;
            font-size: 18px;
            font-weight: 700;
            line-height: 21.94px;

        }
    }

    .extend-modal-body-text {
        font-family: $font-family;
        font-size: 18px;
        font-weight: 500;
        line-height: 21.94px;

    }

    .extend-modal-body-expire {
        font-family: $font-family;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.5px;
        color: #5A677E;

    }

    .input-date-modal {
        width: 100%;
        padding-left: 20px;
        margin: 10px 0;
        height: 50px;
        // border-radius: 10px;
        border: 1px solid #D5DDEA;
        opacity: 0px;

    }

    .input-date-modal::-webkit-calendar-picker-indicator {
        filter: invert(62%) sepia(76%) saturate(5496%) hue-rotate(17deg) brightness(99%) contrast(103%);
        /* Change the color of the icon to golden color */
        font-size: 20px;
        margin-right: 15px;
    }

    .checkbox-container-modal {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .label-modal {
        font-family: $font-family;
        font-size: 14px;
        font-weight: 500;
        line-height: 19.5px;

    }

    .update-button-modal {
        width: 100%;
        padding: 12px;
        // border-radius: 12px;
        background: #CFA935;
        border: 0px solid #CFA935;
        font-family: $font-family;
        font-size: 20px;
        font-weight: 600;
        line-height: 24.38px;
        color: white;
    }

}



.cross-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}



.table-title {
    display: flex;
    border: 1px solid #D5DDEA;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #F3F3F3;
    padding: 0 20px;
    border-radius: 0;

    .expire-typo {
        font-family: $font-family;
        font-size: 18px;
        font-weight: 600;
        line-height: 26.82px;


    }

    .gallery-search-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        justify-content: center;

        span {
            font-family: $font-family;
            font-size: 17px;
            font-weight: 600;
            line-height: 21.94px;
            text-align: left;

        }

        input {
            width: 398px;
            height: 40px;
            margin-left: 10px;
            // border-radius: 10px;
            padding-left: 10px;
            font-family: $font-family;
            font-size: 16px;
            border: 1px solid #D5DDEA;
        }

        .search-icon-container {
            width: 40px;
            height: 40px;
            // border-radius: 10px;
            margin-left: 10px;
            background: #CFA935;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            img {
                width: 18px;
                height: 18px;


            }
        }
    }
}

.light-bg {
    background-color: #f3f3f3;
}

.batch-wrapper-dates {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    .title-bg{
        width: 100%;
        padding: 10px 20px;
       background-color:  #F3F3F3;
.expire-typo{
    font-family: $font-family;
    font-size: 16px;
    font-weight: 600;
    line-height: 16.82px;
}
    }

    .batch-date-container {
        min-width: 220px;
        display: flex;
        flex-direction: row;
        border: 1px solid #BFC0C2;
        margin: 10px;
        background-color: white;
    }

    .badge-wrapper {
        justify-content: center;
        align-items: center;
        margin: 10px;

        .badge-wrapper-inner {
            background-color: #F3F3F3;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 50px;


        }



    }

    .dates-name {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;


    }

    .right-arrow-dates {
        height: 100%;
        width: 30px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: #e9bd381a;
    }
}

@media (max-width: 768px) {
    .table-title{
    margin-top: 70px;

    .expire-typo {
        font-size: 12px;
        font-weight: 600;
        line-height: 12.82px;


    }

    

    .gallery-search-container {
        input {
            max-width: 200px;
            height:34px;
            margin-left: 10px;
            // border-radius: 10px;
            padding-left: 10px;
            font-family: $font-family;
            font-size: 16px;
            border: 1px solid #D5DDEA;
        }
    
    }
}
  
    .search-input{
      

    }
    .search-icon-container-mobile{
        width: 20px;
        height: 20px;
        margin-left: 10px;
        background: #afadad;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
}
    .batch-wrapper-dates {
        display:flex;
        justify-content: center;
        margin-top: 30px;
        border: 1px solid #BFC0C2;
        padding: 0;

      .batch-date-container{
        // min-width: 100%;
        display: flex;
        flex-direction: row;
        border: 1px solid #BFC0C2;
        margin: 10px;
        background-color: white;
.badge-wrapper-inner{
    .badge-cert{
        
    }
}
        }
    }
}


//dates