.issue-new-certificate {
    // margin-top: 9em;
    .vertical-center {
        transform: translateY(-70%);
        -webkit-transform: translateY(-70%);
        -moz-transform: translateY(-70%);
        -ms-transform: translateY(-70%);
        -o-transform: translateY(-70%);

        //1600
        @media(min-width: $large-min) and (max-width: $large-max) {
            transform: translateY(-70%);
            -webkit-transform: translateY(-70%);
            -moz-transform: translateY(-70%);
            -ms-transform: translateY(-70%);
            -o-transform: translateY(-70%);
        }

         // 1440
         @media (min-width: $medium-min) and (max-width: $medium-max) {
            transform: translateY(-70%);
            -webkit-transform: translateY(-70%);
            -moz-transform: translateY(-70%);
            -ms-transform: translateY(-70%);
            -o-transform: translateY(-70%);
        }

        // 1366
        @media (min-width: $small-min) and (max-width: $small-max) {
            transform: translateY(-65%);
            -webkit-transform: translateY(-65%);
            -moz-transform: translateY(-65%);
            -ms-transform: translateY(-65%);
            -o-transform: translateY(-65%);
        }

        // 1280
        @media (min-width: $laptop-min) and (max-width: $laptop-max) {
            
        }
    }

    .register-form {
        .upload {
            width: 100%;
            margin-top: 20px;

            &::before {
                left: 4.5em;
            }
        }

        @media (min-width: $mobile-min) and (max-width: $mobile-max) {
            padding-bottom: 40px;
        }
    }
}

.issue-with-pdf {
    @media (min-width: $mobile-min) and (max-width: $mobile-max) {
        padding-bottom: 0;
    }
}