.next-btn-container{
    
}

.pdf-qr-wrapper{
    padding: 120px 100px;
    @media (min-width: $mobile-min) and (max-width: $mobile-max) {
        padding: 90px 10px;
    }
}


.display-wrapper{
overflow: scroll;
flex-direction: column;
display: flex;
justify-content: center;
align-items: center;
border: 1px solid #BFC0C2;
padding: 10px 20px;
}
.certificate-form-wrapper{
    font-family: 'Montserrat', sans-serif;
border: 1px solid #BFC0C2;
min-height: 300px;
    .qr-form-title{
        min-height: 30px;
        width: 100%;
        background-color: #F3F3F3;
        color: black;
        .form-title{
            font-family: 'Montserrat', sans-serif;
font-size: 20px;
font-weight: 600;
line-height: 26.82px;
padding: 16px 30px;
        }
    }
    .form-control{
        border-radius: 0;
    }
    .form-title2{
        font-family: Montserrat;
font-size: 22px;
font-weight: 600;
line-height: 26.82px;
padding: 16px 0px;
    }
}