.verify-cert-container {
    @media (min-width: $mobile-min) and (max-width: $mobile-max) {
        padding: 140px 0 40px;
    }
}

.card-warapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    .verify-landing {
        padding: 40px;
        border: 1px solid #BFC0C2;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        height: 100%;
         flex: 1; /* Fill remaining space vertically */
        display: flex;
        flex-direction: column;
margin-bottom: 10px;
        .card-img-top {
            width:auto;
            height: 180px;
            margin: auto;
        }

        .card-body {
            padding: 0;

            .card-title {
                color: rgba(47, 56, 71, 1);
                font-size: 22px;
                line-height: 26px;
                margin: 14px 0;
                font-weight: 700;
                font-family: $font-family;
            }

            .card-text {
                color: rgba(90, 103, 126, 1);
                font-size: 16px;
                line-height: 19px;
                font-weight: 500;
                margin-bottom: 40px;
                font-family: $font-family;
            }
        }

        .card-footer {
            border: none;
            background: 0;
            padding: 0;
            margin-top: auto; /* Push the footer to the bottom */

            .golden {
                width: 100%;
                padding: 20px 0;
            }
        }

        // 1366
        @media (min-width: $small-min) and (max-width: $small-max) {
            padding: 20px;

            .card-img-top {
                height: 120px;
            }

            .card-body {
                padding: 0;
        
                .card-title {
                    font-size: 18px;
                }

                .card-text {
                    margin-bottom: 20px;
                }
            }

            .card-footer {    
                .golden {
                    padding: 14px 0;
                }
            }
        }

        @media (min-width: $tablet-min) and (max-width: $tablet-max) { 
            
        }

        @media (min-width: $mobile-min) and (max-width: $mobile-max) { 
            padding: 14px;
            
            .card-img-top {
                height: 114px;
            }

            .card-body {
                padding: 0;
        
                .card-title {
                    font-size: 18px;
                    margin: 20px 0 10px;
                }

                .card-text {
                    font-size: 14px;
                    margin-bottom: 30px;
                }
            }

            .card-footer {    
                .golden {
                    padding: 14px 0;
                }
            }
        }
    }
}