.global-button {
    border: none;
    padding: 20px 0;
    font-size: 18px;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    
    &.golden {
        padding: 20px 120px;
        color: $white;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        background: $golden;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;

        &:hover {
            box-shadow: inset 0px 0px 20px 0px #675213c9;
        }
    }

    &.upload {
        color: $golden;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 12px 20px 12px 56px;
        border-radius: 12px;
        background: rgba(207, 169, 53, 0.15);
        position: relative;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        
        &::before {
            content: '';
            position: absolute;
            left: 20px;
            width: 26px;
            height: 26px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26' fill='none'%3E%3Cpath d='M23.833 14.0833C23.5457 14.0833 23.2701 14.1974 23.067 14.4006C22.8638 14.6037 22.7497 14.8793 22.7497 15.1666V19.7307C22.7488 20.5312 22.4304 21.2986 21.8644 21.8647C21.2984 22.4307 20.5309 22.7491 19.7304 22.7499H6.26892C5.46843 22.7491 4.70098 22.4307 4.13494 21.8647C3.56891 21.2986 3.25053 20.5312 3.24967 19.7307V15.1666C3.24967 14.8793 3.13554 14.6037 2.93237 14.4006C2.72921 14.1974 2.45366 14.0833 2.16634 14.0833C1.87902 14.0833 1.60347 14.1974 1.40031 14.4006C1.19714 14.6037 1.08301 14.8793 1.08301 15.1666V19.7307C1.08444 21.1056 1.63127 22.4238 2.60351 23.3961C3.57575 24.3683 4.89397 24.9152 6.26892 24.9166H19.7304C21.1054 24.9152 22.4236 24.3683 23.3958 23.3961C24.3681 22.4238 24.9149 21.1056 24.9163 19.7307V15.1666C24.9163 14.8793 24.8022 14.6037 24.599 14.4006C24.3959 14.1974 24.1203 14.0833 23.833 14.0833Z' fill='%23CFA935'/%3E%3Cpath d='M7.26563 9.43252L11.9164 4.78176V18.4166C11.9164 18.7039 12.0305 18.9795 12.2337 19.1826C12.4368 19.3858 12.7124 19.4999 12.9997 19.4999C13.287 19.4999 13.5626 19.3858 13.7657 19.1826C13.9689 18.9795 14.083 18.7039 14.083 18.4166V4.78176L18.7338 9.43252C18.9381 9.62985 19.2118 9.73905 19.4958 9.73658C19.7799 9.73411 20.0516 9.62018 20.2524 9.41932C20.4533 9.21846 20.5672 8.94675 20.5697 8.6627C20.5722 8.37865 20.463 8.105 20.2656 7.90068L13.7656 1.40068C13.5625 1.19759 13.287 1.0835 12.9997 1.0835C12.7124 1.0835 12.4369 1.19759 12.2338 1.40068L5.73379 7.90068C5.53645 8.105 5.42726 8.37865 5.42973 8.6627C5.4322 8.94675 5.54613 9.21846 5.74699 9.41932C5.94785 9.62018 6.21956 9.73411 6.50361 9.73658C6.78765 9.73905 7.06131 9.62985 7.26563 9.43252Z' fill='%23CFA935'/%3E%3C/svg%3E");
        }

        &:hover {
            background: rgb(207 169 53 / 37%);
        }
    }

    &.golden-upload {
        color: $white;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 12px 20px 12px 56px;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        background: $golden;
        position: relative;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        
        &:before {
            content: '';
            position: absolute;
            left: 16px;
            width: 20px;
            height: 20px;
            background-size: cover;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26' fill='none'%3E%3Cpath d='M23.833 14.0833C23.5457 14.0833 23.2701 14.1974 23.067 14.4006C22.8638 14.6038 22.7497 14.8793 22.7497 15.1666V19.7307C22.7488 20.5312 22.4304 21.2987 21.8644 21.8647C21.2984 22.4307 20.5309 22.7491 19.7304 22.75H6.26892C5.46843 22.7491 4.70098 22.4307 4.13494 21.8647C3.56891 21.2987 3.25053 20.5312 3.24967 19.7307V15.1666C3.24967 14.8793 3.13554 14.6038 2.93237 14.4006C2.72921 14.1974 2.45366 14.0833 2.16634 14.0833C1.87902 14.0833 1.60347 14.1974 1.40031 14.4006C1.19714 14.6038 1.08301 14.8793 1.08301 15.1666V19.7307C1.08444 21.1057 1.63127 22.4239 2.60351 23.3961C3.57575 24.3684 4.89397 24.9152 6.26892 24.9166H19.7304C21.1054 24.9152 22.4236 24.3684 23.3958 23.3961C24.3681 22.4239 24.9149 21.1057 24.9163 19.7307V15.1666C24.9163 14.8793 24.8022 14.6038 24.599 14.4006C24.3959 14.1974 24.1203 14.0833 23.833 14.0833Z' fill='white'/%3E%3Cpath d='M7.26563 9.43258L11.9164 4.78183V18.4167C11.9164 18.704 12.0305 18.9795 12.2337 19.1827C12.4368 19.3859 12.7124 19.5 12.9997 19.5C13.287 19.5 13.5626 19.3859 13.7657 19.1827C13.9689 18.9795 14.083 18.704 14.083 18.4167V4.78183L18.7338 9.43258C18.9381 9.62991 19.2118 9.73911 19.4958 9.73664C19.7799 9.73417 20.0516 9.62024 20.2524 9.41938C20.4533 9.21852 20.5672 8.94681 20.5697 8.66276C20.5722 8.37871 20.463 8.10506 20.2656 7.90074L13.7656 1.40074C13.5625 1.19765 13.287 1.08356 12.9997 1.08356C12.7124 1.08356 12.4369 1.19765 12.2338 1.40074L5.73379 7.90074C5.53645 8.10506 5.42726 8.37871 5.42973 8.66276C5.4322 8.94681 5.54613 9.21852 5.74699 9.41938C5.94785 9.62024 6.21956 9.73417 6.50361 9.73664C6.78765 9.73911 7.06131 9.62991 7.26563 9.43258Z' fill='white'/%3E%3C/svg%3E");
        }

        &:hover {
            box-shadow: inset 0px 0px 20px 0px #675213c9;
        }
    }

    &.golden-download {
        color: $white;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 12px 56px 12px 24px;
        border-radius: 12px;
        background: $golden;
        position: relative;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        
        &::after {
            content: '';
            position: absolute;
            right: 20px;
            width: 16px;
            height: 16px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22' fill='none' style='/* background: red; */'%3E%3Cg clip-path='url(%23clip0_476_678)'%3E%3Cpath d='M17.1111 22H4.88887C3.58309 22 2.3554 21.4915 1.43195 20.568C0.50854 19.6447 0 18.417 0 17.1111V15.8888C0 15.2138 0.547179 14.6665 1.22223 14.6665C1.89728 14.6665 2.44446 15.2138 2.44446 15.8888V17.1111C2.44446 17.764 2.69875 18.3778 3.16037 18.8395C3.62211 19.3012 4.23594 19.5555 4.88887 19.5555H17.1111C17.764 19.5555 18.3778 19.3012 18.8395 18.8395C19.3012 18.3778 19.5555 17.7639 19.5555 17.1111V15.8888C19.5555 15.2138 20.1027 14.6665 20.7777 14.6665C21.4527 14.6665 22 15.2138 22 15.8888V17.1111C22 18.4169 21.4915 19.6445 20.568 20.568C19.6446 21.4915 18.4169 22 17.1111 22ZM11 17.111C10.8309 17.111 10.6699 17.0767 10.5235 17.0147C10.3869 16.957 10.2585 16.8731 10.1462 16.7634C10.1461 16.7634 10.1461 16.7633 10.1461 16.7633C10.1453 16.7626 10.1445 16.7618 10.1436 16.7609C10.1434 16.7608 10.1432 16.7605 10.143 16.7603C10.1423 16.7597 10.1417 16.759 10.141 16.7584C10.1406 16.758 10.1402 16.7576 10.1398 16.7571C10.1394 16.7567 10.1388 16.7562 10.1384 16.7558C10.1376 16.755 10.1366 16.754 10.1358 16.7532L5.24687 11.8642C4.76958 11.3869 4.76958 10.613 5.24687 10.1357C5.72416 9.65842 6.49809 9.65837 6.97538 10.1357L9.77779 12.9381V1.22223C9.77775 0.547179 10.3249 0 11 0C11.675 0 12.2222 0.547179 12.2222 1.22223V12.9381L15.0246 10.1357C15.5019 9.65842 16.2759 9.65842 16.7531 10.1357C17.2304 10.613 17.2304 11.3869 16.7531 11.8642L11.8642 16.7531C11.8634 16.7539 11.8624 16.7549 11.8616 16.7557C11.8611 16.7562 11.8606 16.7567 11.8602 16.7571C11.8598 16.7575 11.8594 16.7579 11.859 16.7583C11.8584 16.759 11.8577 16.7596 11.8571 16.7602C11.8569 16.7604 11.8566 16.7607 11.8564 16.7609C11.8556 16.7617 11.8548 16.7625 11.854 16.7632C11.8539 16.7632 11.8539 16.7633 11.8539 16.7633C11.8404 16.7764 11.8268 16.7892 11.8129 16.8015C11.7106 16.8928 11.5966 16.964 11.476 17.0148C11.4756 17.015 11.4753 17.0151 11.4748 17.0153C11.4744 17.0155 11.474 17.0157 11.4735 17.0159C11.3278 17.0772 11.1679 17.111 11 17.111Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_476_678'%3E%3Crect width='22' height='22' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: cover;
        }

        &:hover {
            box-shadow: inset 0px 0px 20px 0px #675213c9;
        }
    }

    &.outlined {
        color: $golden;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 12px;
        border: 1px solid $golden;
        background-color: transparent;

        &:hover {
            border: 1px solid $golden-button-hover;
        }
    }

    &.danger {
        color: #FFF;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        background: #D11A2A;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;

        &:hover {
            box-shadow: inset 0px 0px 20px 0px rgb(112 9 9);
        }
    }

    &:disabled {
        pointer-events: none;
        background-color: #bfbfbf;
    }

    // 1366
    @media (min-width: $small-min) and (max-width: $small-max) {
        font-size: 16px;
    }

    // 1280
    @media (min-width: $laptop-min) and (max-width: $laptop-max) {
        font-size: 14px;
    }
}

.error-icon {
    position: relative;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 30px;
}

.warning {
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 6px;
    background-color: #dc3545;
    margin-top: 40px;

    &:hover {
        box-shadow: inset 0px 0px 10px 0px #520c12a1;
    }
}

.success {
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 6px;
    background-color: #198754;
    margin-top: 40px;

    &:hover {
        box-shadow: inset 0px 0px 10px 0px #095130cf;
    }
}